language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  - mysql -e 'create database IF NOT EXISTS pingpong_admin;'

script: phpunit